.container{
    width: 80%;
    margin: 50px auto;
}
.list{
    margin-top:20px;
}
.list_item{
    padding:10px;
    margin-bottom: 15px;
    border:1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.list-item:last-of-type{
    margin: 0;
}
.overlay{
    background-color: #00000058;
    position: fixed;
    inset: 0;
    z-index: 0;
}
.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 20px;
    background-color: #fff;
    z-index: 9;
}